<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RequestDemo1</display-name>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>cn.qaiu.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestForward</display-name>
    <servlet-name>TestForward</servlet-name>
    <servlet-class>cn.qaiu.TestForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestForward</servlet-name>
    <url-pattern>/TestForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoorListServlet</display-name>
    <servlet-name>DoorListServlet</servlet-name>
    <servlet-class>cn.qaiu.DoorListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoorListServlet</servlet-name>
    <url-pattern>/DoorListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestWriter</display-name>
    <servlet-name>TestWriter</servlet-name>
    <servlet-class>cn.qaiu.TestWriter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestWriter</servlet-name>
    <url-pattern>/TestWriter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRedirect</display-name>
    <servlet-name>TestRedirect</servlet-name>
    <servlet-class>cn.qaiu.TestRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRedirect</servlet-name>
    <url-pattern>/TestRedirect</url-pattern>
  </servlet-mapping>
</web-app>